[submodule "src/Mingmoe.Demystifier"]
	path = src/Mingmoe.Demystifier
	url = https://github.com/mingmoe/Mingmoe.Demystifier
[submodule "src/XamlX"]
	path = src/XamlX
	url = https://github.com/mingmoe/XamlX
[submodule "src/Mingmoe.Tiled"]
	path = src/Mingmoe.Tiled
	url = https://github.com/mingmoe/mingmoe.tiled
